@{
    Layout = "_Layout";
}

@using Capstone.ViewModels

@model RegisterViewModel

<div class="container p-2 bg-primary">

<h2>Register</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.FirstName)<br>
    @Html.TextBoxFor(user => user.FirstName)
<br>
    @Html.LabelFor(model => model.IsParent)
    @Html.CheckBoxFor(model => model.IsParent)
    <br>
    @Html.LabelFor(user => user.Email)<br>
    @Html.TextBoxFor(user => user.Email)
<br>
    @Html.LabelFor(user => user.Password)<br>
    @Html.EditorFor(user => user.Password)
<br>
    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.EditorFor(user => user.ConfirmPassword)
<hr>
    <input type="submit" value="Register" />
}

<p>@Html.ActionLink("Log In", "Login")</p>
</div