@{
    Layout = "_Layout";
}

@model Capstone.Models.Prize
<center>
<h2 class="purples">Reward Time!</h2>

<div class="container p-3 bg-primary">

<h2>@Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PrizeId)

    @Html.Label("To: ")
    @Html.DropDownList("KidId")

    <input type="submit" id="lightblue" value="Save" />
}
</div>
</center>

<div id="footer">
@Html.ActionLink("Choose Different Prize", "Index")
</div>