@{
    Layout = "_Layout";
}

@model Capstone.Models.Prize
<center>


<div class="container p-3 bg-primary">
<h2 class="purples">Buy this Prize:</h2>
<h2>@Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PrizeId)

    @Html.Label("For: ")
    @Html.DropDownList("KidId")

    <input type="submit" id="lightblue" value="Save" />
}
</div>


<img src="~/./css/images/axolotl-roll.gif" width="200" height="200">

</center>
@Html.ActionLink("Choose A Different Prize", "Index")
