@{
    Layout = "_Layout";
}

@using Capstone.Models

<h1 class="purples">PRIZE TIME!</h1>

<center>
<img src="~/./css/images/axolotl-prize.gif" width="200" height="200">
</center>

@foreach (Prize prize in Model)
{
    <div class="container p-2 bg-primary">
        <table>
            <td>
                @Html.ActionLink(@prize.Name, "AddKid", "Prizes", new { id = @prize.PrizeId })
            </td>
            <td>
                @prize.Cost
                <img src="~/css/images/gold-star.png" width="30" height="30" alt="">
            </td> 
            @* @using (Html.BeginForm("AddKid", "Prizes"))
                {
                    <input type="submit" id="lightblue" value="Claim Reward!" />
                } *@
        </table>
    </div><br>
}


<div id="footer">

@Html.ActionLink("Add New Prize", "Create", "Prizes") | 
@Html.ActionLink("Completed Tasks", "ViewCompleted", "Entries") | 
@Html.ActionLink("Claimed Prizes", "ViewClaimed", "Prizes")
</div>