@{
    Layout = "_Layout";
}

@model Capstone.Models.Entry;

<h4>Add a new task</h4>

<p><strong>You must @Html.ActionLink("add kid", "Create", "Kids") to assign a task</strong></p>

@using (Html.BeginForm())
    {
    @Html.LabelFor(model => model.Kid)
    @Html.DropDownList("KidId")<br>
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)<br>
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)<br>
    @Html.LabelFor(model => model.Reward)
    @Html.TextBoxFor(model => model.Reward, new { @type = "num"})<br>

    <input type="submit" value="Add new task" class="btn btn-default" />
    }