@{
    Layout = "_Layout";
}

@model Capstone.Models.Entry
@using System;

<center>
    <h1 class="purples">Assign a Task</h1>
</center>

<div class="container p-2 bg-primary">

    <p>@Html.ValidationMessageFor(model => model.KidId, "", new
            {
                @class = "text-danger",
                @style = "font-weight: 600;"
            })</p>

    @using (Html.BeginForm())
    {
        <strong>@Html.LabelFor(model => model.Kid)</strong><br>
        @Html.DropDownList("KidId")

        <br>
        <strong>@Html.LabelFor(model => model.Title)</strong><br>
        @Html.TextBoxFor(model => model.Title)

        <br>
        <strong>@Html.LabelFor(model => model.Reward)</strong><br>
        @Html.EditorFor(model => model.Reward, new { @type = "num" })

        <br>

        <input type="submit" id="lightblue" value="Add new task" class="btn btn-default" />
    }