@{
    Layout = "_Layout";
}

@model Capstone.Models.Entry


<h2>@Html.DisplayFor(model => model.Kid.Name)</h2>
<h2>@Html.DisplayFor(model => model.Title)<h2>
<h4>@Html.DisplayFor(model => model.Description)</h4>

<hr>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EntryId)

    @Html.LabelFor(model => model.IsComplete)
    @Html.CheckBoxFor(model => model.IsComplete)


    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.EntryId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.EntryId })</p>