@{
    Layout = "_Layout";
}

@model Capstone.Models.Entry

<h2>Edit</h2>

<h4>Edit this entry: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EntryId)

    @Html.LabelFor(model => model.Kid)
    @Html.DropDownList("KidId")
    <br>
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <br>
    @Html.LabelFor(model => model.Reward)
    @Html.EditorFor(model => model.Reward)
    <br>
    @Html.LabelFor(model => model.IsComplete)
    @Html.CheckBoxFor(model => model.IsComplete)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
