@{
    Layout = "_Layout";
}

@using Capstone.Models;

<h1>To Do:</h1>

@if (@Model.Count == 0)
{
    <p>nothing to do today!</p>
}
else
{
    
        @foreach (Entry entry in Model)
        {
            @* @if (@entry.IsComplete == false) { *@
                <ul>
                <li>@Html.ActionLink(@entry.Title, "Details", "Entries", new { id = @entry.EntryId }) @entry.Reward</li>
                </ul>
            @* } *@
        }
}

@Html.ActionLink("Completed Tasks", "Completed", "Entries")

