@{
    Layout = "_Layout";
}

@using Capstone.Models


@if (Model.Count == 0)
{
    <div class="container p-2 bg-primary">
    <p>@Html.ActionLink("Add some tasks", "Create", "Entries") to get started!</p>
    </div>
}
else
{  
    @foreach (Entry entry in Model)
    {
        
        @if (!entry.IsComplete)
        {
            <div class="container p-2 bg-primary">
                <li> 
            @* @entry.Kid.Name<br> *@
            @Html.ActionLink(@entry.Kid.Name, "Details", "Kids", new { id = @entry.KidId })<br>
            @Html.ActionLink(@entry.Title, "Details", "Entries", new { id = @entry.EntryId }) @entry.Reward<img src="~/css/images/gold-star.png" width="30" height="30" alt=""> 
                    @using (Html.BeginForm("TaskCompleted", "Entries", new { entryId = @entry.EntryId }))
                        {
                            <input type="submit" id="lightblue" value="Collect Stars" />
                        }
                </li>
            </div>
            <br>
        }
    }
}