@{
    Layout = "_Layout";
}

@using Capstone.Models

<h1>To Do:</h1>

@if (Model["entries"].Count == 0)
{
    <p>nothing to do today!</p>
}
else
{
    @foreach (Entry entry in Model["entries"])
    {
            <li>@Html.ActionLink(@entry.Title, "Details", "Entries", new { id = @entry.EntryId }) @entry.Reward 
                    @using (Html.BeginForm())
                        {
                            @Html.CheckBoxFor(Entry => entry.IsComplete)
                            <input type="submit" value="Save" />
                        }
            </li>
        }
        
}
<hr/>

@Html.ActionLink("Add New Task", "Create", "Entries")<br>
@Html.ActionLink("Completed Tasks", "Completed", "Entries")
