@{
    Layout = "_Layout";
}

@using Capstone.Models
@using System

<h1 class="purples">Completed Tasks</h1>
<div class="container p-2 bg-primary">
    <table>
        <tr>
            <th>Task</th>
            <th>Completed By</th>
        </tr>
        
        @foreach(Entry entry in Model)
            {
                
                
                @if (entry.IsComplete)
                {
                    <tr>
                    <td>@entry.Kid.Name</td>
                    <td>@entry.Title</td>
                    <td>
                        <a href='@Url.Action("Delete", "Entries", new { id = @entry.EntryId })'>
                            <img src='@Url.Content("~/css/images/x.gif")' width="20" height="20" />
                        </a>
                        </td>
                    </tr>
                }
            }
</table>
</div>

@Html.ActionLink("Unfinished Tasks", "Index", "Entries") |
@Html.ActionLink("Claimed Prizes", "ViewClaimed", "Prizes") |

