@{
    Layout = "_Layout";
}

@using Capstone.Models;
@using System;

<h1 class=purples>Hello @User.Identity.Name</h1>


@if (User.Identity.IsAuthenticated)
    {
    
    @if (Model["kids"].Length == 0)
    {
        
        <p>You have no kids</p>
        
    }
    
        @foreach (Kid kid in Model["kids"])
        {
        <ul>  
            <div class="container p-2 bg-primary">
            <li>@Html.ActionLink(@kid.Name, "Details", "Kids", new { id = @kid.KidId })<br>
            Total <img src="~/css/images/gold-star.png" width="30" height="30" alt="">: @kid.Total <br>
                
            </li>
            </div>
        </ul>
        }
    <hr>
<center>    
@Html.ActionLink("See all tasks", "Index", "Entries")<br>
@Html.ActionLink("See all Kids", "Index", "Kids")<br>
@Html.ActionLink("Add New Task", "Create", "Entries")<br>
</center>
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}
