@{
    Layout = "_Layout";
}

@using Capstone.Models;
@using System;
@* @model Capstone.Models.Entry; *@


@if (User.Identity.IsAuthenticated)
<p>Hello @Model["ApplicationUser"].FirstName</p>
{   <h3>Task-olotl's</h3>
    @if (Model["kids"].Length == 0)
    {
        <div class="container p-3 bg-primary">
        <p>You have no kids</p>
        </div>
    }
    
        @foreach (Kid kid in Model["kids"])
        {
        <ul>  
            <div class="container p-2 bg-primary">
            <li>@Html.ActionLink(@kid.Name, "Details", "Kids", new { id = @kid.KidId })</li>
            </div>
        </ul>
        }
    <hr>
@Html.ActionLink("See all tasks", "Index", "Entries")<br>
@Html.ActionLink("See all Kids", "Index", "Kids")<br>
@Html.ActionLink("Add New Task", "Create", "Entries")<br>
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}
</div>