@{
    Layout = "_Layout";
}

@using Capstone.Models;
@using System;

<h1 class=purples>Hello 
    @* @ViewData["UserFirstName"]  *@
    @User.Identity.Name
    </h1>

<table>
    <tr>
    <td></td>
    <td>
@if (User.Identity.IsAuthenticated)
{
    
    @if (Model["kids"].Length == 0)
    {
        
        <p>You have no kids</p>
        
    }
    
        @foreach (Kid kid in Model["kids"])
        {
        <ul>
            <li>
            <div class="container p-1 bg-primary">

                @Html.ActionLink(@kid.Name, "Details", "Kids", new { id = @kid.KidId })<br>
                <img src="~/css/images/gold-star.png" width="25" height="25" alt=""> @kid.Total

            </div>
            <br>
            </li>
        </ul>
        }

}
else
{
    <div class="container p-2 bg-primary">
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    </div>
}
</td>

<td></td>
</tr>
</table>

<div id="footer">   
@Html.ActionLink("See all tasks", "Index", "Entries") | 
@Html.ActionLink("See all Kids", "Index", "Kids") | 
@Html.ActionLink("Add New Task", "Create", "Entries") | 
@Html.ActionLink("See Completed Tasks", "ViewCompleted", "Entries")
</div> 