@{
    Layout = "_Layout";
}

@model Capstone.Models.Kid
@using Capstone.Models

<h2 class="purples">@Html.DisplayFor(model => model.Name)-olotl</h2>

@if(Model.Entries.Count == 0)
{
    <p>Your task list is empty!</p>
}
else
{
    @foreach(Entry entry in Model.Entries)
    {
        <div class="container p-3 bg-primary">
            <li><h3>
                @Html.ActionLink(@entry.Title, "Details", "Entries", new { id = @entry.EntryId })<br>
            <span class="badge badge-pill badge-warning">
                @entry.Reward <img src="~/css/images/gold-star.png" width="30" height="30" alt="">
            </span></h3></li>
        </div><br>
    }
}